<!DOCTYPE html>
<html lang="ko">
    <head>
        <% include ../public/ejs/head %>
        <title>upload</title>
    </head>
    <body>
        <form method="post" name="uploadForm" enctype="multipart/form-data">
            <input type="file" name="upload" />
            <input type="submit" />
        </form>
    </body>
</html>
