<!DOCTYPE html>
<html lang="ko">
	<head>
		<% include ../public/ejs/head %>
	</head>
	<body>
		<div class="main_content">
			<p class="title"><%= title %></p>
			<%- content %>
			<%= created %>
		</div>
	</body>
</html>
